/* =========================
   CONFIGURACIÓN
========================= */



/* =========================
   CONTENEDOR
========================= */

.container {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  padding: 4rem 0;
  display: flex;
  justify-content: center;
}


/* =========================
   SWIPER
========================= */

.slider {
  width: 100%;
}

/* centrar verticalmente los slides */
.slider :global(.swiper-wrapper) {
  display: flex;
  align-items: center;
}


/* =========================
   SLIDE
========================= */

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* =========================
   CARD (SIN FONDO BLANCO)
========================= */

.card {
  width: 100%;
  padding: 0.5rem;
  background: transparent;
  border-radius: 1rem;
  border: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.08);
  }
}


/* =========================
   FIGURE
========================= */

.figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* =========================
   IMAGEN
========================= */

.image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0);
}


/* =========================
   NOMBRE
========================= */

.caption {
  margin-top: 0.75rem;
  font-weight: 700;
  text-align: center;
}


/* =========================
   EFECTO PERSONAJE ACTIVO
========================= */

.slider :global(.swiper-slide-active) .image {
  filter: drop-shadow(0 0 18px rgba(255, 215, 0, 0.8));
  transform: scale(1.05);
}
